<li>
    <div class="comment-content">
        <div id="name">
            <p class="name-size">
                <%= comment.user.name %>
            </p>

            <% if (locals.user && locals.user.id==comment.user.id) { %>
                <a class="delete-button" href="/comments/destroy/<%= comment.id %> ">
                    <i class="fas fa-trash-alt"></i></a></small>
                <% } %>
        </div>

        <div class="post-comment-size">
            <%= comment.content %>
        </div>
    </div>
</li>