<header>

    <nav class="header-container">
        <a href="/">
            <h3 id="logo"> Clouet</h3>
        </a>


        <div class="header-profile">
            <% if (locals.user) { %>
                <a href="/users/profile/<%= u.id %>">
                    <%= user.name %>
                </a>

                <a href="/users/sign-out"> Sign Out</a>

                <% } else { %>
                    <a href="/users/sign-in">Sign In</a>

                    <a href="/users/sign-up">Sign Up</a>
                    <% } %>
    </nav>

    </div>
</header>