<link rel="stylesheet" href="/css/sign_up.css">

<h1> Sign In </h1>

<form action="/users/create-session" method="POST" class="sign-up-form">
    <input type="email" name="email" placeholder="Email Addresss" required>
    <input type="password" name="password" placeholder="Password" required>
    <br>
    <input type="submit" value="Login" class="submit-button">
</form>