// BG - Rich Black #040F16
// Overlay BG - Gunmetal #061823
// Accent - Princeton Orange #ea7317
// Blue NCS #0094c6

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #061823;
}