// BG - Rich Black #040F16
// Overlay BG - Gunmetal #061823
// Accent - Princeton Orange #ea7317
// Blue NCS #0094c6

footer {
    display: flex;
    position: absolute;
    bottom: 0%;
    justify-content: flex-start;
    width: 100%;
    background-color: #061823;

    a {
    text-decoration: none;
    color: rgb(243, 243, 243);
    padding-left: 10px;
    }
}